.booklet{
    -moz-box-shadow:0px 0px 1px #fff;
    -webkit-box-shadow:0px 0px 1px #fff;
    box-shadow:0px 0px 1px #fff;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}

.booklet .b-wrap-left{
    background:#fff url(../images/left_bg.v1.png) no-repeat top left;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
/**
to let the right page look different than the left page
 */
.booklet .b-wrap-right{
    background:#efefef url(../images/right_bg.v1.png) no-repeat top left;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/**
to
 */
.booklet .b-counter{
    bottom:10px;
    position:absolute;
    display:block;
    width:90%;
    height:20px;
    border-top:1px solid #ddd;
    color:#222;
    text-align:center;
    font-size:12px;
    padding:5px 0 0;
    background:transparent;
    -moz-box-shadow:0px -1px 1px #fff;
    -webkit-box-shadow:0px -1px 1px #fff;
    box-shadow:0px -1px 1px #fff;
    opacity:0.8;
}

/**
set the book as background

 */
.book_wrapper{
    margin: 0 auto;
    padding-top: 50px;
    width: 1080px;
    height: 720px;
    position: center;
    background: transparent url(../images/bg.v1.png) no-repeat 3px 22px;
}


.book_wrapper h1{
    color:#13386a;
    margin:5px 5px 5px 15px;
    font-size:26px;
    background:transparent url(../images/h1.png) no-repeat bottom left;
    padding-bottom:7px;
}

.book_wrapper p{
    font-size:20px;
    margin:15px 15px 15px 15px;
}
.book_wrapper a.article,
.book_wrapper a.demo{
    background:tomato;
    display:compact;
    width:250px;
    height:41px;
    text-decoration:none;
    outline:none;
    font-size:24px;
    color:#555;
    float:left;
    line-height:41px;
    padding-left:47px;
}
.book_wrapper a.demo{
    margin-left:50px;
}
.book_wrapper a.article:hover,
.book_wrapper a.demo:hover {
    background-position: 50% -41px;
    color: #13386a;
}

/**
to make sure the pictures will look like a book adding some shaders
 */

.book_wrapper img{
    margin:10px 0px 5px 35px;
    max-width:490px;
    max-height: 720px;
    padding:4px;
    border:1px solid #ddd;
    -moz-box-shadow:1px 1px 1px #fff;
    -webkit-box-shadow:1px 1px 1px #fff;
    box-shadow:1px 1px 1px #fff;
}
/**
border on right side a little bit darker
 */
.booklet .b-wrap-right img{
    border:1px solid #E6E3C2;
}



/**
for the loading screen
 */

.loading{
    width:160px;
    height:56px;
    position: absolute;
    top:50%;
    margin-top:-28px;
    right:135px;
    line-height:56px;
    color:#fff;
    padding-left:60px;
    font-size:15px;
    background: #000 url(../images/ajax-loader.gif) no-repeat 10px 50%;
    opacity: 0.7;
    z-index:9999;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
}









































article
{
    padding:5px;
    border:dotted 3px #ff006e;
    margin-top:5px;
}

header
{
    padding:0px;
    text-align:center;
}

aside
{
    margin-top:5px;
    background-color:#f0eaea;
    padding:5px;
    text-align:center;
    font-style:italic;
    border:double 3px #b200ff;
}

section
{
    padding:5px;
    border:dashed 3px #0026ff;
    margin-top:5px;
}

footer
{
    padding:5px;
    text-align:center;
    font-weight:bold;
}

nav
{
    text-align:center;
}
ul li
{
    display:inline;
    padding-left:5px;
    padding-right:5px;
    text-align:left;
    font-size:16px;
    font-weight:bold;
}